*{margin:0;padding:0;font-family:微软雅黑;border:none;}
body{background:#eff0f4;}
/*弹出框*/
	.dialog{width:100%;height:100%;position:fixed;top:0;z-index:1000000;display:none;}
	.dialog .background{position:absolute;width:100%;height:100%;background:rgba(0, 0, 0, 0.5)!important;filter:Alpha(opacity=50); background:#000;}
	.dialog .dialog-box{position:relative;width:30em;background:#ffffff;border:1px solid #e5e5e5;margin:0 auto;margin-top:7%;}

	.dialog-box h5{border-bottom: 1px dotted #c0c0c0;border-bottom: 1px dotted rgba(0, 0, 0, 0.2);padding: 15px;text-transform: uppercase;color: #535351;font-size: 16px;font-weight: bold;}
	.dialog-box .close{display:inline;border:0;margin:0;width:37px;cursor:pointer;border-radius:10px;float:right;margin-top:-45px;}
	.dialog-box h5 img{vertical-align:middle;}
/*机构树*/
	.treeBox{max-height:300px;overflow:auto;margin-left:5em;}

	
	
/*底部内容*/
	.bottom{position:absolute;top:50px;right:0;left:240px;bottom:0;z-index:-1;background-color: #efefef}
	
	/*滚动条样式*/
	iframe::-webkit-scrollbar{width:5px;height:10px;}/*滚动条尺寸*/
	iframe::-webkit-scrollbar-button{display:none;}
	iframe::-webkit-scrollbar-track{background:#424f63;}/*滚动条背景*/
	iframe::-webkit-scrollbar-thumb{background:#65cea7;}/*滚动条*/