*{margin:0;padding:0;font-family:微软雅黑;}
img{border:none;}
body{background:#eff0f4;}
h1{line-height:32px;}
h2{line-height:20px;margin-bottom:15px;}
.content{margin-left:2%;margin-top:20px;}
h5{margin:0;}
font.red{color: #c7254e;font-size:18px;font-weight:bold;}
label{display:inline-block;}
/*弹出框*/
	.dialog{width:100%;height:100%;position:fixed;top:0;z-index:1000000;display:none;}
	.dialog .background{position:absolute;width:100%;height:100%;background:rgba(0, 0, 0, 0.5)!important;filter:Alpha(opacity=50); background:#000;}
	.dialog .dialog-box{position:relative;width:30em;background:#ffffff;margin:0 auto;margin-top:7%;}
	.dialog-box .dialog-content{padding:15px;line-height:35px;text-align:center;margin-bottom:20px;}
	
	.dialog-box h5{background: #65cea7;border-bottom: 1px dotted #c0c0c0;border-bottom:1px dotted rgba(0, 0, 0, 0.2);padding: 15px;text-transform: uppercase;color: #fff;font-size: 16px;font-weight:normal;}
	.dialog-box .closebtn{display:inline-block;margin:10px;width:25px;height:25px;cursor:pointer;float:right;margin-top:-38px;background:url(../img/close.png) no-repeat;}
	.dialog-box .closebtn:hover{background:url(../img/close_a.png) no-repeat;}
	.dialog-box h5 img{vertical-align:middle;}
	.dialog-box .report{width:100%;float:none;overflow:auto;}	
	.dialog-box .button{margin-bottom:20px;}
	.dialog-box input[type=text]{border:1px solid #65cea7;box-shadow:0px 0px 5px #65cea7;border-radius:5px;outline:none;box-shadow:none;height: 20px;padding: 4px 6px;font-size: 14px;line-height: 20px;color: #555555;vertical-align: middle;}
	/*滚动条样式*/
	.dialog-box .report::-webkit-scrollbar{width:3px;height:10px;}/*滚动条尺寸*/
	.dialog-box .report::-webkit-scrollbar-button{display:none;}
	.dialog-box .report::-webkit-scrollbar-track{background:#424f63;}/*滚动条背景*/
	.dialog-box .report::-webkit-scrollbar-thumb{background:#65cea7;}/*滚动条*/
/*标题*/
/*机构树*/
	.treeBox{height:300px;overflow:auto;margin-left:5em;}	
	/*滚动条样式*/
	.treeBox:hover{overflow:auto;overflow-x:hidden;}
	.treeBox::-webkit-scrollbar{width:3px;height:10px;}/*滚动条尺寸*/
	.treeBox::-webkit-scrollbar-button{display:none;}
	.treeBox::-webkit-scrollbar-track{background:#424f63;}/*滚动条背景*/
	.treeBox::-webkit-scrollbar-thumb{background:#65cea7;}/*滚动条*/
/*标题*/
.content h1{color: #49586e;font-size: 25px;font-weight: normal;margin:5px 0;}
.content h2{color: #999999;font-size: 14px;font-weight: normal;margin-top:0;}
.content h2 span{color: #65CEA7;}
/*布局*/
.row{width:100%}

/*我的审批*/
.colorBox{margin-bottom:20px;width:20%;margin-right:2%;display:inline-block;float:left;border-radius:5px;height:80px;}
.colorBox img{margin-left:20px;margin-top:20px;}
.colorBox div{display:inline-block;width:50%;margin-left:2%;}
.colorBox div h3{font-size: 24px;font-weight: bold;color:#fff;}
.colorBox div h4{font-size: 16px;font-weight: normal;color:#fff;}
.jjsp{background: #6a8abe;box-shadow: 0 5px 0 #5f7cab;}
.khjs{background: #fc8675;box-shadow: 0 5px 0 #e27869;}
.kh{background: #5ab6df;box-shadow: 0 5px 0 #51a3c8;}
.cp{background: #4acacb;box-shadow: 0 5px 0 #42b5b6;}

/*个人报销统计*/
.grbxtj{background: #49586e;box-shadow: 0 5px 0 #424f63;border-radius:5px;margin-bottom:30px;width:54%;display:inline-block;float:right;margin-right:2%;height:180px;}
.grbxtj .bb{display:inline-block;float:left;margin-top:65px;margin-left:90px;}
.grbxtj .bb h1{font-size: 16px;font-weight: normal;color:#fff;}
.grbxtj .bb h2{font-size: 24px;font-weight: bold;color: #fc8675;}
#grbxtj{display:inline-block;float:left;width:50%;margin:15px 30px;}
/*部门统计*/
.report{float:left;background:#fff;border-radius:5px;width:98%;margin-bottom:20px;}
.report h5{border-bottom: 1px dotted #c0c0c0;border-bottom: 1px dotted rgba(0, 0, 0, 0.2);padding: 15px;text-transform: uppercase;color: #535351;font-size: 16px;font-weight: bold;}
.report table{width:95%;margin-top:20px;border-collapse: collapse;margin-bottom:20px;}
.report table tr:nth-child(2n){background:#f7f7f7;}
.report table tr th{border-bottom: 2px solid #ddd;color: #7a7676;font-size:14px;line-height:35px;}
.report table tr td{border-bottom: 1px solid #ddd;color: #7a7676;text-align:center;font-size:14px;line-height:35px;}

/*新增报销*/
.common table{background: #f7f7f7;padding:0 20px;}
.common table tr th{border-bottom:0;text-align:left;line-height:45px;}
.common table tr td{border-bottom:0;text-align:left;line-height:45px;}
.common .treeBox{margin-left:1em;}
/*新增明细*/
.tableB .pull-right{line-height:90px;}
.tableB h5 img{margin-left:5px;vertical-align:middle;}
.total{width:width:95%;margin-left:2.5%;text-transform: uppercase;color: #535351;font-size: 16px;font-weight: bold;}
.total span{font-size: 24px;font-weight: bold;color: #428bca;}
/*报销单*/
.common .bxd tr td{padding-left:20px;}
.common .bxd span{color:#428bca;}
/*新建项目*/
.newProject{background:#fff;width:23%;margin-right:2%;margin-bottom:20px;height:150px;border-radius:5px;cursor:pointer;display:inline-block;float:left;}
.newProject .addProject{background:url(../img/newProject.png) no-repeat;display:block;width:40px;height:40px;margin:0 auto;margin-top:40px;}
.newProject p{text-align:center;margin-top:10px;margin-bottom:30px;font-size:18px;color:#aaaaaa;}
.newProject:hover{box-shadow:0 0 10px #ddd;margin-top:-5px;margin-bottom:25px;}
.newProject:hover .addProject{background:url(../img/newProject_a.png) no-repeat;}
.newProject:hover p{color:#03a9f4;}

.project{background:#fff url(../img/project.png) no-repeat;background-size: cover;}
.project img{width:16px;margin:20px;}
.project .projectName{display:block;text-align:center;margin-top:-45px;line-height: 30px;color:#fff;font-size: 18px;text-shadow: 0 1px 1px rgba(0,0,0,.35);}
.project .right{display:none;float:right;margin-top:-25px;width:16px;height:16px;}
.project .edit{background:url(../img/edit.png) no-repeat;margin-right:40px;}
.project .delete{background:url(../img/delete.png) no-repeat;margin-right:20px;}
.project:hover .right{display:inline-block;}
.project .edit:hover{background:url(../img/editH.png) no-repeat;}
.project .delete:hover{background:url(../img/deleteH.png) no-repeat;}


/*列表*/
.common .center tr th,.common .center tr td{text-align:center;border:1px solid #ddd;line-height:40px;}
.common .center tr td{background:#fff;}
.common .center .edit{margin-top:-4px;}
/*文档列表*/
	.wdlb{overflow:auto;}
	/*滚动条样式*/
	.wdlb:hover{overflow:auto;overflow-x:hidden;}
	.wdlb::-webkit-scrollbar{width:3px;height:10px;}/*滚动条尺寸*/
	.wdlb::-webkit-scrollbar-button{display:none;}
	.wdlb::-webkit-scrollbar-track{background:#424f63;}/*滚动条背景*/
	.wdlb::-webkit-scrollbar-thumb{background:#65cea7;}/*滚动条*/
/*form*/
.common .pull-right{padding-right:10px;}
.common select,.common input,.common textarea{outline:none;width:260px;margin-top:10px;resize: none;font-family: 微软雅黑;}
.common select:focus,.common input:focus,.common textarea:focus{border-color:#65cea7;box-shadow:0px 0px 5px #65cea7;box-shadow:none;}
.common input[type=checkbox],.common input[type=radio]{width:auto;margin-top:-4px;}
.common input[type=file]{margin-top:-5px;}
input[type=text]{margin-top:10px;width:246px;margin-right:0;}
input[type=text].short,select.short{width:100px}

.edit{font-family: 微软雅黑;width:auto;padding:0 8px;border-radius: 3px;line-height:25px;color: #fff;background-color: #f0ad4e;border:1px solid #eea236;}
.edit:hover{background-color: #ed9c28;}
.edit i{vertical-align:middle;margin:-3px 3px 0 -3px;}

.info{background-color: #84b4dc;border:1px solid #73a1c8;}
.info:hover{background-color: #6d9dc6;}

.del{background-color: #d9534f;border-color: #d43f3a;}
.del:hover{background-color: #d2322d;}

.downLoad{background-color: #5cb85c;border:1px solid #4cae4c;}
.downLoad:hover{background-color: #47a447;}

input[type=password]{width:246px;}
/*checkbox*/
.checkbox{background:url(../img/checkbox.png) no-repeat left center;padding-left:30px;padding-right:10px;display:inline-block;line-height:24px;}
.checkbox_a{background:url(../img/checkbox_a.png) no-repeat left center;}

.center .checkbox{vertical-align:middle;padding-right:0;}

/*radio*/
.radio{background:url(../img/radio.png) no-repeat left center;padding-left:30px;padding-right:10px;display:inline-block;line-height:24px;height:24px;}
.radio_a{background:url(../img/radio_a.png) no-repeat left center;}
.hideInput input{visibility:hidden;}

.center .radio{vertical-align:middle;padding-right:0;}

/*label*/
.label{font-weight:normal;padding:4px 8px;text-shadow:none;font-size:13px;}
.label-primary{background:#337ab7;}
.label-success{background:#5cb85c;}
.label-info{background:#5bc0de;}
.label-warning{background:#f0ad4e;}
.label-important{background:#d9534f;}
/*icon*/
.icon-right{background:url(../img/icon-ok.png) no-repeat;width:20px;height:20px;}
.icon-warning{background:url(../img/icon-warning.png) no-repeat;width:20px;height:20px;}
/*按钮组*/
.button{text-align:center;width:98%;}
.button input{width:90px;line-height:30px;font-family: 微软雅黑;margin:0 5px;border-radius: 5px;color: #fff;background-color: #5cb85c;border:1px solid #4cae4c;}
.button input:hover{background-color: #47a447;}
.button .del{background-color: #d9534f;border-color: #d43f3a;}
.button .del:hover{background-color: #d2322d;}
.button .back{background-color: #fff;border-color: #cccccc;color:#333359;}
.button .back:hover{background-color: #ebebeb;}
/*搜索*/
.search{width:95%;margin-left:2.5%;background:#d9edf7;margin-top:20px;margin-bottom:-10px;color:#767676;line-height: 25px;height:50px;}
.search span{display:inline-block;padding:0 20px;}

/*统计报表*/
.tjbb{width:95%;overflow:auto;margin-left:2.5%;margin-top:25px;}
.tjbb table{/*width:2000px;*/width:100%;margin:0;}
.tjbb .center tbody tr:nth-child(2n) td {background:rgb(223, 240, 216);}
.tjbb .center tr th,.tjbb table tr th{font-size:12px;line-height:30px;}
.tjbb .center tr td,.tjbb table tr td{font-size:12px;line-height:20px;height:20px;}
.tjbb .center .no-border th{border:1px solid #ddd;background:#ddd}
.tjbb .center .count th{border:1px solid #eee;background:#eee;}
.tjbb .center font{color:rgb(62, 152, 197);}
.tjbb .center .right{text-align:right;padding-right:5px;}
.tjbb .center .left{text-align:left;padding-left:5px;}
.tjbb .center .red,.tjbb .center .red td{color:red}

.search select:focus,.search input:focus,.search textarea:focus{border-color:#5bc0de;box-shadow:0px 0px 5px #5bc0de;box-shadow:none;}
.search input[type=button]{float:right;width:60px;line-height:25px;font-family: 微软雅黑;margin:11.5px 20px 0 0;border-radius: 5px;color: #fff;background-color: #5bc0de;border:1px solid #46b8da;}
.search input[type=button]:hover{background-color: #39b3d7;}
/*列表页码*/
.page-div{text-align:center;margin-bottom:20px;margin-top:-10px;color:#767676}
.page-div img{margin-top:-2.5px;}
/*tab*/
.myTab {margin:0;}
.myTab li{display:inline-block;list-style:none;background:#fff;border:1px solid #eff0f4;color:#bbb;padding:7px 15px;border-radius:5px 5px 0 0;margin-right:1px;cursor:pointer;}
.myTab .active{color:#fff;background: #65cea7!important;border:1px solid #65cea7;}
.tabContent{border:1px solid #65cea7;width:98%;margin-bottom:20px;}
.tabPage{background:#fff;margin:0;padding-bottom:20px;}
.tabPage .report{width:100%;padding-bottom:30px;}
.tabContent .report{float:none;margin:0;padding:10px;}
.tabContent .report table{margin:10px;width:98%;}
.tabContent3{width:auto;overflow:hidden}

.myTab2{padding:5px 0 0 5px;}
.myTab2 li{padding:4px 10px;}
.tabContent2{border:none;}
/*step*/
.step{width:98%;float:left;margin:0;margin-bottom:15px;}
.step li{width:20%;float:left;text-align:center;list-style:none;}
.step li span{display:inline-block;width:80%;background:#fff;color:#c2c2c2;line-height:50px;}
.step li span.active{background:#65cea7;color:#fff}
.step .stepRight_n{width:19px;height:50px;background:url(../img/stepRight_n.png);vertical-align:middle;margin-top:-4px;}
.step .stepRight{background:url(../img/stepRight.png)}
.step .stepLeft_n{width:19px;height:50px;background:url(../img/stepLeft_n.png);vertical-align:middle;margin-top:-4px;}
.step .stepLeft{background:url(../img/stepLeft.png)}
.step .noLeft{width:19px;height:50px;background:#65cea7;vertical-align:middle;margin-top:-4px;}
.step .noRight_n{width:19px;height:50px;background:#fff;vertical-align:middle;margin-top:-4px;}
.step .noRight{background:#65cea7;}
/*select多选*/
.selectResult{display:inline-block;}
.selectResult span{display:inline-block;background:#d7dcde;padding-left:8px;padding-right:20px;line-height:25px;margin-right:8px;cursor:pointer;}
.selectResult span:hover{background:#d7dcde url(../img/sc.png) no-repeat right center;}
/*缩略图*/
img.slt{width:20px;height:20px;border:1px solid #000;}
.common .center .noBorder{margin:0;}
.common .center .noBorder tr td{border:none;}
/*验证样式*/
select.error, select.error:focus,input.error,input.error:focus{ border: 1px solid #d9534f; }
label.error { background:url("../img/icon-warning.png") no-repeat 0px 0px; padding-left: 23px; font-weight: bold; color: #d9534f;}
label.checked { background:url("../img/icon-ok.png") no-repeat 0px 0px;}
/*提示信息*/
.alert{width:90%;margin-left:2.5%;display:none;margin-top:10px;margin-bottom:-10px;}
.alert ol{margin-bottom:-2px;}

.popover.right .arrow:after {bottom: 0px;  left: 0px; border-right-color: none;  border-left-width: 0;border-width:0px; }
.long{width:80%;}
.blue{color:#428bca;}
.yellow{color:#8a6d3b;}
.red{color:#a94442}
h3.success{color:#a0d468;margin:40px 0 80px 0;text-align:center;}
h3.success img{margin-top:-5px;}
[v-cloak] {
	display: none
}
.selected {
	background-color: #DFF0D8;
}

#example_length,#topPlugin {
	float: left;
	height:45px;
	line-height: 45px;
}

.dataTables_info{
	float: left;
	margin-top: 5px;
}

#topPlugin a,#topPlugin button {
	margin-left: 10px;
}

div.dataTables_paginate {
	float: right;
	padding-top: 8px;
	margin: 0;
	white-space: nowrap;
	text-align: right;
	margin-top: 5px;
}

.table th, .table td {
	text-align: center;
	height:25px;
}